<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Basic Buttons Two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-row>
    <ion-col size="12">
      <ion-text>
        <h2>Fill Button</h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="full" fill="outline">Outline + Full</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="outline">Outline + Block</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button shape="round" fill="outline">Outline + Round</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-text>
        <h2>Icon Button</h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-button>
        <ion-icon slot="start" name="star" style="margin-left: 20px;"></ion-icon>
        Left Icon
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button>
        Right Icon
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-text>
        <h2>Size Button</h2>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-button size="large">Large</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button>Default</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button size="small">Small</ion-button>
    </ion-col>
  </ion-row>
</ion-content>