ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            text-align: center;
            margin-left: 46px;
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    .swiper-slide {
        width: 40%;
      }
    app-product{
        width: 100%;
    }
    ion-slides{
        ion-slide{
            &:last-child{
                height: auto;
            }
        }
    }
    ion-row{
        padding-left:4px;
        padding-top: 6px !important;
            ion-col{
                h5{
                    font-size: 16px !important;
                    font-family: "roboto-medium" !important;
                    color: black;
                    margin-top: 0;
                    margin-bottom: -2px;
                    margin-left: 10px;
                }
                ion-icon{
                    font-size: 17px;
                    // color: black;
                    margin-bottom: -6px;
                }
            }
    }
}