<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Verification Two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <h2>Verification</h2>
  <p class="opt-text">OTP has been send to you on your mobile phone.</p>
  <p class="enter-para">Please Enter it Below</p>
  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2">
        <ion-input type="numeric"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input type="numeric"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input type="numeric"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-input type="numeric"></ion-input>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-verifty-btn">
    <ion-button fill="clear">
      <p>Verify</p>
    </ion-button>
  </div>
</ion-content>