<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Toggle Simple Left</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item lines="full" *ngFor="let item of items">
            <ion-avatar slot="start">
                <img src="{{item.img}}">
            </ion-avatar>
            <!-- toggle button -->
            <ion-toggle> </ion-toggle>
            <ion-label>
                <h3>{{item.text}}</h3>
                <p>{{item.short_des}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>