<ion-header>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="assets/images/Pictures/faces-images/face_image4.png">
    </ion-avatar>
    <ion-label>
      <h3>My Status</h3>
      <p>Today, 11:36 AM</p>
    </ion-label>
    <ion-icon src="assets/dots.svg"></ion-icon>
  </ion-item>
  <ion-item-divider lines="none">
    <ion-text>
      <p>Viewed updates</p>
    </ion-text>
  </ion-item-divider>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img src="{{item.img}}">
      </ion-avatar>
      <ion-label>
        <h3>{{item.text}}</h3>
        <p>{{item.short_des}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>