<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/scripts" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Maps Integrations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="googleMap()">
    <img src="assets/images/plugin-images/Maps/google-map.png" />
  </ion-card>
  <ion-card (click)="hereMap()">
    <img src="assets/images/plugin-images/Maps/here-map.png" />
  </ion-card>
</ion-content>