<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/lb-home" routerDirection="forward">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux">
  <ion-text>
    <p>
      Theme-coder is simply one stop shop for programatic Web and App developers. Our team is
      striving to bring instant solution for both developers and enterpreneurs and assisting them in exploring new
      horizons of growth and opportunities.
    </p>
  </ion-text>
</ion-content>