<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home Five</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content">
  <ion-list>
    <ion-card *ngFor="let product of items" class="animated flipInX delay-900ms">
      <ion-img src="{{product.img}}" (click)="goToSubCategory()"></ion-img>
      <ion-text (click)="goToSubCategory()">
        <h2>{{product.name }}</h2>
        <p>{{product.count}} {{'Products'| translate }}</p>
      </ion-text>
    </ion-card>
  </ion-list>
</ion-content>