ion-content{
  ion-grid{
    padding: 0 0 16px 0;
    margin-bottom:12px;
    border-bottom:1px solid #ddd; 
    ion-text{
      h2{
        margin-top:10px;
        margin-left: 16px;
      }
    }
    h4{
      margin-left: 16px;
    }
    p{
      margin-left: 16px;
      margin-right: 16px;
    }
    ion-img{
      margin-bottom:16px;
    }
    ion-button{
      margin-left:0;
      margin-right:0;
      margin-bottom: 16px;
    }

    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}