<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismiss()">
          <ion-icon src="assets/CustomIcons/back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      Latest in News
      <ion-button slot="end" fill="clear" (click)="goToSearch()">
        <ion-icon class="icon" name="search"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="goToCart()">
        <ion-icon src="assets/CustomIcons/Bag.svg"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content-bg-becrux">
    <ion-img class="ion-no-padding" src="assets/template-themes/lesath/images/news/1.jpg"></ion-img>
    <p>11-July-2019</p>
    <h2>Best Winter Wear for Men</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor. Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex, ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus. Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis. Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa. Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat. Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor. Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex, ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus. Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis. Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa. Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat. Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non neque ac tortor porta auctor. Mauris sed mi ornare, molestie dui ut, dignissim sem. Sed quis elit mauris. Aliquam bibendum dolor ex, ut eleifend erat sollicitudin et. Fusce vel neque purus. Donec blandit metus vel arcu tempor cursus. Aliquam eget eleifend libero. Pellentesque non sapien convallis, rhoncus libero sed, luctus turpis. Nam congue, diam convallis efficitur fermentum, urna eros dictum orci, eu consequat felis tortor a massa. Vivamus vitae sollicitudin nibh. Nulla facilisi. Proin maximus arcu nec consectetur feugiat. Cras viverra nisi ex, sed tempor nulla dapibus non.</p>
    
</ion-content>
