ion-content {
    --background: linear-gradient(to bottom, #1f2d44, #3a4a64) !important;
    ion-img {
      height: 132px;
      width: 132px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .div-item {
      .item-input {
        margin-left: 43px;
        margin-right: 43px;
        --border-radius: 3px;
        --background: transparent;
        margin-bottom: 10px;
        border-bottom: solid 1px #a2a2a2;
        ion-input {
          --placeholder-color: #a2a2a2;
          --placeholder-opacity: 1;
          --color: #a2a2a2;
        }
        ion-icon {
          font-size: 16px;
          margin-right: 10px;
          color: #a2a2a2;
        }
        p {
          font-size: 16px;
          font-family: "roboto-regular";
          margin-top: auto;
          margin-bottom: auto;
          color: black;
        }
      }
    }
    .btn-login {
      --background: linear-gradient(to right, #5accc1, #0bbfd6);
      margin-top: 20px;
      --color: white;
      margin-left: 37px;
      margin-right: 37px;
      margin-bottom: 30px;
      --border-radius: 5px;
      --box-shadow: none;
      width: 82%;
      height: 42px;
      font-family: "ubuntu";
      font-size: 16px;
    }
    .btn-forget {
      margin-top: 25px;
      --color: white;
      margin-left: 37px;
      margin-right: 37px;
      margin-bottom: 20px;
      --border-radius: 5px;
      --box-shadow: none;
      width: 82%;
      height: 42px;
      font-family: "ubuntu";
      font-size: 16px;
      .para-acc {
        text-transform: capitalize;
        color: #a2a2a2;
        font-size: 16px;
        margin-right: 10px;
        font-weight: lighter;
      }
    }
    .div-item-forget {
      .item-input {
        margin-left: 25px;
        margin-right: 25px;
        --border-radius: 3px;
        --background: transparent;
        margin-bottom: 10px;
        border-bottom: solid 1px #a2a2a2;
        ion-input {
          --placeholder-color: #a2a2a2;
          --placeholder-opacity: 1;
          --color: #a2a2a2;
          text-align: center;
        }
        ion-icon {
          font-size: 16px;
          margin-right: 10px;
          color: #a2a2a2;
        }
        p {
          font-size: 16px;
          font-family: "roboto-regular";
          margin-top: auto;
          margin-bottom: auto;
          color: black;
        }
      }
    }
  }