ion-content {
    .card-img {
      margin: 20px 16px 18px 16px;
      border-radius: 20px;
    }
    .card-pay {
      margin: 0 16px 0 16px;
      border-bottom: solid 10px #062553;
      ion-row {
        .col-pay-price {
          text-align: end;
          color: var(--ion-color-primary);
          font-size: 18px;
          font-family: "roboto-bold";
          padding: 20px 10px 20px 10px;
        }
        .col-pay {
          color: #072654;
          font-size: 18px;
          font-family: "roboto-bold";
          padding: 20px 10px 20px 10px;
        }
      }
    }
    .header-card-pay {
      text-align: center;
      margin-left: 20px !important;
    }
    .card-input {
      border-radius: 30px;
      background: linear-gradient(to right, #011b32, #00417a);
      form {
        margin: 26px 16px 26px 16px;
        .item-outter-div {
          margin-bottom: 45px;
        }
        ion-item {
          --background: transparent;
          --padding-start: 0;
          --inner-padding-end: 0;
          border-bottom: 0.1px #aaa;
          border-bottom-color: #eee;
          border-bottom-width: solid;
          border-bottom-style: groove;
          ion-input {
            --color: white;
            --placeholder-opacity: 0.7;
          }
        }
        .div-input {
          .item-cvv {
            --padding-start: 10px;
          }
          display: flex;
          .item-div {
            border-right: 0.1px #aaa;
            border-right-color: #eee;
            border-right-width: solid;
            border-right-style: groove;
          }
          .item-div-last {
            --padding-start: 10px;
          }
        }
      }
      margin-bottom: 260px;
    }
    h2 {
      font-size: 20px;
      font-family: "roboto-bold";
      color: #072654;
      margin-left: 16px;
    }
    .div-btn {
      position: fixed;
      bottom: -38px;
      width: 100%;
      z-index: 99;
      ion-button {
        text-transform: capitalize;
        height: 86px;
        margin: 0;
        p {
          margin-top: -35px;
        }
      }
    }
  }
  