<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Segment Scrollable Header Text</ion-title>
  </ion-toolbar>
  <!-- name of segment to access scrollable segment on runtime -->
  <ion-segment class="segBtn" scrollable [(ngModel)]="segments">
    <ion-segment-button value="segmentOne">{{ 'Latest' }}</ion-segment-button>
    <ion-segment-button value="segmentTwo">{{ 'On Sale' }} </ion-segment-button>
    <ion-segment-button value="segmentThree"> {{ 'Featured' }}</ion-segment-button>
    <ion-segment-button value="segmentFour">{{ 'Free' }}</ion-segment-button>
    <ion-segment-button value="segmentFive">{{ 'Offers' }} </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="segments">
    <!-- segment one -->
    <div *ngSwitchCase="'segmentOne'">
      <ion-slides @itemState [options]="sliderConfig">
        <ion-slide *ngFor="let product of items">
          <ion-card class="animated fadeInRight">
            <ion-card-content>
              {{ product.name }} - ${{ product.price }}
              <ion-img src="{{product.img}}"></ion-img>
              <ion-button expand="full">Buy Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-list>
        <ion-item *ngFor="let mProduct of itemsList">
          <ion-avatar slot="start">
            <img src="{{mProduct.img}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ mProduct.text }}</h2>
            <p>{{mProduct.text1}}</p>
          </ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <!-- segment two -->
    <div *ngSwitchCase="'segmentTwo'">
      <ion-slides @itemState [options]="sliderConfig">
        <ion-slide *ngFor="let product of items">
          <ion-card class="animated fadeInRight">
            <ion-card-content>
              {{ product.name }} - ${{ product.price }}
              <ion-img src="{{product.img}}"></ion-img>
              <ion-button expand="full">Buy Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-list>
        <ion-item *ngFor="let mProduct of itemsList">
          <ion-avatar slot="start">
            <img src="{{mProduct.img}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ mProduct.text }}</h2>
            <p>{{mProduct.text1}}</p>
          </ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <!-- segment three -->
    <div *ngSwitchCase="'segmentThree'">
      <ion-slides @itemState [options]="sliderConfig">
        <ion-slide *ngFor="let product of items">
          <ion-card class="animated fadeInRight">
            <ion-card-content>
              {{ product.name }} - ${{ product.price }}
              <ion-img src="{{product.img}}"></ion-img>
              <ion-button expand="full">Buy Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-list>
        <ion-item *ngFor="let mProduct of itemsList">
          <ion-avatar slot="start">
            <img src="{{mProduct.img}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ mProduct.text }}</h2>
            <p>{{mProduct.text1}}</p>
          </ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <!-- segment four -->
    <div *ngSwitchCase="'segmentFour'">
      <ion-slides @itemState [options]="sliderConfig">
        <ion-slide *ngFor="let product of items">
          <ion-card class="animated fadeInRight">
            <ion-card-content>
              {{ product.name }} - ${{ product.price }}
              <ion-img src="{{product.img}}"></ion-img>
              <ion-button expand="full">Buy Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-list>
        <ion-item *ngFor="let mProduct of itemsList">
          <ion-avatar slot="start">
            <img src="{{mProduct.img}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ mProduct.text }}</h2>
            <p>{{mProduct.text1}}</p>
          </ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <!-- segment five -->
    <div *ngSwitchCase="'segmentFive'">
      <ion-slides @itemState [options]="sliderConfig">
        <ion-slide *ngFor="let product of items">
          <ion-card class="animated fadeInRight">
            <ion-card-content>
              {{ product.name }} - ${{ product.price }}
              <ion-img src="{{product.img}}"></ion-img>
              <ion-button expand="full">Buy Now</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-list>
        <ion-item *ngFor="let mProduct of itemsList">
          <ion-avatar slot="start">
            <img src="{{mProduct.img}}">
          </ion-avatar>
          <ion-label>
            <h2>{{ mProduct.text }}</h2>
            <p>{{mProduct.text1}}</p>
          </ion-label>
          <ion-icon name="cart"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>