.content {
  text-align: center;
  --background: none !important;
  background: url("../../assets/images/verification/verification-8-bg.png") !important;
  background-size: 100% !important;
  background-repeat: no-repeat;
  .div-upper {
    background: linear-gradient(to right, #fe8c00, #f83600);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    position: absolute;
    width: 85%;
    top: 40vw;
    h2 {
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 26px;
      color: white;
      font-family: "lato-regular";
      text-align: center;
      font-weight: bold;
    }
    ion-icon {
      font-size: 72px;
      margin-bottom: 40px;
    }
    .otp-text {
      color: white;
      margin-top: 70px;
    }
    p {
      color: white;
      font-size: 20px;
      font-family: "lato-regular";
      text-align: center;
      margin-left: 37px;
      margin-right: 37px;
      margin-bottom: 0;
    }
    .enter-para {
      margin-top: 5px;
      margin-bottom: 0;
    }
    ion-input {
      background: transparent;
      margin-right: 25px;
      color: white;
      font-size: 25px;
      text-align: center;
      border-bottom: solid 1px white;
      --padding-start: 0 !important;
    }
    .div-verifty-btn {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      ion-button {
        height: 50px;
        font-size: 18px;
        font-family: "lato-regular";
        text-transform: capitalize;
        p {
          color: white;
          border-bottom: solid 2px white;
          padding-bottom: 4px;
        }
      }
    }
  }
}
