ion-content{
  ion-card{
    height: 37%;
    ion-card-header{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      ion-card-title, ion-card-subtitle{
        font-weight: bold;
        color:white;
      }
    }
    img{
      width: 100%;
    }
  }
}