<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">Cart One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card padding>
    <ion-card-header no-padding>
      <ion-card-subtitle>
        <h3> Straight Long Coat </h3>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="3" class="ion-no-padding">
            <ion-img src="assets/template-themes/becrux/images/item-images/26.jpg"></ion-img>
          </ion-col>
          <ion-col class="col-price" size="5">
            <p>Price:</p>
            <p>Quantity:</p>
            <p><b>Sub Total:</b></p>
          </ion-col>
          <ion-col class="col-price-ori" size="4">
            <p class="para-del"> 2.00 $</p>
            <div class="div-btn">
              <ion-button size="small" class="sub-btn">
                <p class="minus-para">-</p>
              </ion-button>
              <span>{{value}}</span>
              <ion-button class="add-btn" size="small">
                <p class="plus-para">+</p>
              </ion-button>
            </div>
            <br /><br />
            <p class="para-price-ori"><b>$ 95.0</b></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2.5" class="view-col">
            <ion-button>view</ion-button>
          </ion-col>
          <ion-col size="8.5">
            <ion-button fill="clear" color="danger">remove</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <ion-card-header no-padding>
      <ion-card-subtitle>
        <h3> List Of Coupon Codes </h3>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="coupon codes"></ion-input>
        <ion-button class="coupon-btn" disabled slot="end"> APPLY</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="price-card" *ngFor="let order of orders">
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <p>
            {{'Sub Total'|translate}}
          </p>
        </ion-col>
        <ion-col text-right size="6">
          <p>
            {{'$'+order.subTotal}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>
            {{'Discount'|translate}}
          </p>
        </ion-col>
        <ion-col text-right size="6">
          <p>
            {{'$'+order.discount}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>
            <b>
              {{'Total'|translate}}
            </b>
          </p>
        </ion-col>
        <ion-col text-right size="6">
          <p>
            <b>
              {{'$'+order.total}}
            </b>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button expnad="full">Add To cart</ion-button>
</ion-footer>