<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Fab Simple With Text</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-item-sliding *ngFor="let item of items; let i=index">
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-img src="{{item.img}}"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    {{item.text}}
                    <p>This product is good for health and...</p>
                    <p>
                        <b>Price: </b>
                        <del>$ {{item.dprice}}</del>
                        <ins>$ {{item.price}}</ins>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-button fill="clear">
                    <ion-icon [ngStyle]="{color:itemColor}" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                    <ion-icon [ngStyle]="{color:itemColor}" name="remove-circle"></ion-icon>
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <!-- float action button placed at the end and bottom of screen -->
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            Add
        </ion-fab-button>
    </ion-fab>
</ion-footer>