<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Slider Autoplay</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- slides with auto next slide after 3 seconds -->
    <ion-slides #IonSlides autoplay="3000" loop="true" pager="true">
        <!-- single slide iteration -->
        <ion-slide *ngFor="let prod of items">
            <img src="{{prod.img}}" />
        </ion-slide>
    </ion-slides>
</ion-content>