<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grid Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <!-- single row contain 2 columns of equal lenght due to size=6  -->
    <ion-row no-padding>
      <ion-col *ngFor="let item of items" size="6" no-padding>
        <img src="{{item.img}}" alt="Image not loading">
        <ion-text>
          <p>
            <b>{{item.name}}</b>
          </p>
          <p>
            <b>Images</b> ({{item.quant}})</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>