<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login Twelve</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>LOGIN</h1>
  <h3>Welcome to your account</h3>
  <div *ngFor="let item of Items">
    <div class="div-item">
      <ion-item class="animated fadeInRight item-input" lines="none">
        <ion-icon slot="start" src="{{item.icon}}"></ion-icon>
        <ion-input placeholder="{{item.placeHolder}}" type="{{item.type}}" [(ngModel)]="item.bindingText"></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="div-btn-login">
    <ion-button shape="round" class="btn-login">
      Login
    </ion-button>
  </div>
  <ion-button fill="clear" class="btn-forget">
    <p>Forgot Password ?</p>
  </ion-button>
  <ion-button fill="clear" class="btn-acc">
    <p class="para-acc">Don't Have An Account ?</p>
    <p>SIGN UP</p>
  </ion-button>
  <p class="social-para">Sign up with Social Networks</p>
  <ion-grid class="grid-icons">
    <ion-row>
      <ion-col>
        <ion-avatar class="animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-three-facebook.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar class="avatar-center animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-three-twitter.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-avatar class="animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-three-google-plus.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>