ion-content {
  --background: none !important;
  background: url("../../assets/images/login/login-six-bg.jpg") !important;
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  h1 {
    font-size: 30px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    margin-bottom: 0;
  }
  h3 {
    font-size: 16px;
    text-align: center;
    font-family: "Arial";
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 200px;
  }
  .div-item {
    margin-bottom: 10px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 25px;
    background: white;
    .item-input {
      --border-radius: 3px;
      --background: transparent;
      z-index: 999;
      ion-input {
        --placeholder-color: black;
        --placeholder-opacity: 1;
        --color: black;
      }
      ion-icon {
        font-size: 14px;
        margin-right: 10px;
        margin-top: 14px;
      }
      p {
        font-size: 16px;
        font-family: "roboto-regular";
        margin-top: auto;
        margin-bottom: auto;
        color: black;
      }
    }
  }
  .div-btn-login {
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 120px;
    .btn-login {
      text-transform: capitalize;
      --background: black;
      --color: white;
      margin-bottom: 10px;
      font-weight: bold;
      --box-shadow: none;
      width: 100%;
      height: 48px;
    }
  }
}
