ion-header{
    ion-toolbar{
        --color: white;
        ion-buttons{
            ion-button{
                ion-icon{
                    font-size: 16px;
                    color: white;
                }
            }
        }
        ion-title{
            color: white;
            text-align: center;
            padding-right: 48px;
        }
    }
    .icon{
        color: white !important;
        font-size: 20px !important;
    }
}
ion-content{
            ion-img{
                width: 100%;
            }
            p{
                width: 100%;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 16px;
                padding-left: 16px !important;
                padding-right: 16px !important;
            }
            h2{
                font-family: 'roboto-medium' !important;
                width: 100%;
                margin-bottom: 4px;
                margin-top: 0;
                padding-left: 16px !important;
            }
}