<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Thankyou Five</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-header">
    <h1>THANK</h1>
  </div>
  <h1>YOU</h1>
  <p class="shop-para">For Shopping with us</p>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center" size="4">
          <ion-img src="assets/images/thankyou/thankyou-two-product.png"></ion-img>
        </ion-col>
        <ion-col size="8">
          <p class="para-item">Item Price Will Be Go Here!</p>
          <p class="para-cat-name">Category Name</p>
          <p class="para-item-qty">Qty: 2</p>
          <div>
            <p class="para-del"><del>$120</del></p>
            <p>$100</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="col-btm-heart ion-align-self-center">
          <ion-icon name="heart"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center col-btm-para">
          <p>Add Item to Wishlist</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer>
 <p>Subtotal =</p>
 <p class="para-price">$100</p>
</ion-footer>