<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Toast Middle With Image</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
    <ion-fab vertical="top" horizontal="end">
        <ion-fab-button>
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-item>
        <ion-label position="floating">
            <ion-icon name="person"></ion-icon>First Name
        </ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">
            <ion-icon name="person"></ion-icon>Last Name
        </ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">
            <ion-icon name="mail"></ion-icon>Email ID
        </ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">
            <ion-icon name="person"></ion-icon>Username
        </ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">
            <ion-icon name="lock-closed"></ion-icon>Password
        </ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-row>
        <ion-col *ngFor="let p of images">
            <img src="{{p.img}}">
        </ion-col>
    </ion-row>
        <!-- showToastWithOptions() get the property of action sheet which you will get from toast-middle.ts file -->
    <ion-button expand="full" (click)="showToastWithOptions()">Submit</ion-button>
</ion-content>