<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/mini-apps" routerDirection="backward">
        <ion-icon class="icon-back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ecommerce 5
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/mini-becrux-four-cart" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge class="becrux-badge" color="secondary">{{shared.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner></app-banner>
  <!-- category avatar -->
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col *ngFor="let c of shared.categories" (click)="openSubCategories(c)" size="6" class="ion-no-padding animate-item">
        <ion-card>
          <ion-avatar>
            <img *ngIf="c.image" src="{{c.image.src}}" />
          </ion-avatar>
          <ion-text>
            <h6>{{c.name|translate}}</h6>
            <p>{{c.count}} {{'Products'| translate }}</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="mini-top-icon-header">
    <ion-button fill="clear">
      <ion-icon slot="start" name="albums"></ion-icon>
      {{ 'Newest Products' | translate }}
    </ion-button>
  </ion-row>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab1">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('latest')"> {{'Shop More'| translate}}
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <ion-row class="mini-top-icon-header">
    <ion-button fill="clear">
      <ion-icon slot="start" name="bookmark"></ion-icon>
      {{ 'On Sale Products' | translate }}
    </ion-button>
  </ion-row>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab2">
      <app-product class="product-on-sale-products" [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('sale')"> {{'Shop More'| translate}}
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
  <ion-row class="mini-top-icon-header">
    <ion-button fill="clear">
      <ion-icon slot="start" name="star"></ion-icon>
      {{ 'Featured Products' | translate }}
    </ion-button>
  </ion-row>

  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.tab3">
      <app-product class="product-on-sale-products" [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" (click)="openProducts('featured')"> {{'Shop More'| translate}}
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>