ion-content{
  ion-row{
      padding-left: 1px;
      padding-right: 1px;
      ion-col{
          ion-card{
              margin: 0;
              border-radius: 0;
              box-shadow: none;
              box-shadow: #eee;
              border: solid 5px #fafafa;
              background: transparent;
              ion-avatar{
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 10px;
              }
              h6{
                  font-family: 'roboto-medium' !important;
                  text-align: center;
                  margin-bottom: 0;
                  font-size: 20px !important;
                  color: black;
              }
              p{
                  text-align: center;
                  margin-top: 0;
                  font-size: 12px;
                  font-family: 'roboto-medium' !important;

              }
          }
      }
  }
}