<ion-header>
  <ion-toolbar style="padding-right:10px; padding-left:10px; position: relative; top:10px;">
    <ion-button fill="clear" routerLink="/bb-home" routerDirection="backward">
        <ion-icon class="back-icon" slot="icon-only" src="assets/custom-icon-tc-shop/back.svg"></ion-icon>
    </ion-button>
    <ion-buttons slot="end" class="header_right_buttons">
      <ion-button fill="clear" class="search_button">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux">
  <div class="inner_content_elite" style="margin-top:20px; min-height: 150%;">
  
  <ion-slides class="product-slides" pager="false" [options]="productSlides" #productSlides>
    <ion-slide *ngFor="let slide of item.vehicle_slides">
      <div>
        <img style="width: 87%; height: 239px; border-radius: 30px; filter: brightness(1)" src="{{slide}}" imageViewer>
      </div>
    </ion-slide>
    
  </ion-slides>
  <ion-buttons style="width: 100% !important; position: relative; top: -125px;">
    <ion-icon  style="position: absolute; left: 0%; margin-left: 10px;"  name="arrow-back-outline" (click)="prev()" ></ion-icon>
    <ion-icon style="position: absolute; right: 0%; margin-right: 10px;" name="arrow-forward-outline" (click)="next()" ></ion-icon>
  </ion-buttons>

  <ion-grid class="product-detail-title" style="padding-left: 27px !important;
  padding-right: 24px !important;
  position: relative !important;
  padding-bottom: 0 !important;
  padding-top: 14px !important;">
    <ion-row>
      <ion-col class="product-title ion-no-padding" size="7">
        <h3 class="product_title"  [innerHTML]="item.metadata?._al_listing_make_display"></h3>
        <h3 class="product_title">{{item.metadata?._al_listing_model_name}}</h3>
      </ion-col>
      <ion-col class="product-title" size="5" style="text-align:right;">
        <ion-label class="price_badge">{{addComma(item.metadata?._al_listing_price)}} OMR</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" style="padding-left:0px; height: 80px;">
        <div class="features_item">
          <img class="img-list" src="assets/template-themes/becrux/images/logo/de_speed.png" /><br>
          <ion-label>{{addComma(item.metadata?._al_listing_odometer)}} KM</ion-label>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="features_item">
          <img class="img-list" src="assets/template-themes/becrux/images/logo/de_gear.png" /><br>
          <ion-label>{{item.metadata?._al_listing_model_transmission_type}}</ion-label>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="features_item">
          <img class="img-list" src="assets/template-themes/becrux/images/logo/de_car.png" /><br>
          <ion-label>{{item.metadata?._al_listing_condition}} Car</ion-label>
        </div>
      </ion-col>
      <ion-col size="3" style="padding-right:0px; height: 80px;">
        <div class="features_item">
          <img class="img-list" src="assets/template-themes/becrux/images/logo/de_location.png" /><br>
          <ion-label>{{item.metadata?._al_listing_city}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="single_pro_desc">{{item?.metadata?.content?.rendered}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="features_points">
      <h3 class="home_headings" style="padding-bottom:10px !important;">Feature & Options</h3>
      <ion-col size="6">
        <ion-item lines="none" class="features_items" >
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_color}} Color</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_condition}}</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_model_drive}}</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_model_engine_cyl}} Cylinder</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_model_engine_l}} Litres</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_model_seats}} Seaters</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_model_vehicle}}</ion-label>
        </ion-item>
        <ion-item lines="none" class="features_items">
          <ion-icon name="checkmark-outline"></ion-icon>
          <ion-label>{{item.metadata?._al_listing_status}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="features_points">
      <h3 class="home_headings">Specifications</h3>
      <ion-col size="12" class="specifications s_even">
        <div class="specifications_title">Year</div>
        <div class="specifications_value">{{item.metadata?._al_listing_model_year}}</div>
      </ion-col>
      <ion-col size="12" class="specifications">
        <div class="specifications_title">Brand</div>
        <div class="specifications_value">{{item.metadata?._al_listing_make_display}}</div>
      </ion-col>
      <ion-col size="12" class="specifications s_even">
        <div class="specifications_title">Model</div>
        <div class="specifications_value">{{item.metadata?._al_listing_model_name}}</div>
      </ion-col>
      <ion-col size="12" class="specifications ">
        <div class="specifications_title">Vehicle</div>
        <div class="specifications_value">{{item.metadata?._al_listing_model_vehicle}}</div>
      </ion-col>
      <br><br>

      
    </ion-row>
  </ion-grid>

  </div>
</ion-content>