<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Up Fab with Text</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-item-sliding *ngFor="let item of products">
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-img src="{{item.image}}"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    {{item.name}}
                    <p>It is very rare that a 100% cotton....</p>
                </ion-label>
                <ion-icon name="arrow-dropright-circle"></ion-icon>
            </ion-item>
            <ion-item-options side="start">
                <ion-button fill="clear">
                    <ion-icon [ngStyle]="{color:itemColor}" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button fill="clear">
                    <ion-icon [ngStyle]="{color:itemColor}" name="remove-circle"></ion-icon>
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
        <!-- float action button placed at the center and bottom of screen -->
    <ion-fab vertical="center" horizontal="end">
        <ion-fab-button>
            Add
        </ion-fab-button>
        <!-- fab list show more buttons from left side on click -->
        <ion-fab-list side="top">
            <ion-fab-button>ABC</ion-fab-button>
            <ion-fab-button>ABC</ion-fab-button>
            <ion-fab-button>ABC</ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-footer>