<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Radio Simple Right</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- all iterated are in radio group so only one item is choosen at one time -->
    <ion-list radio-group>
        <ion-radio-group>
            <ion-item *ngFor="let item of listItem">
                <ion-label>{{ item }}</ion-label>
                <!-- for radio button with right position -->
                <ion-radio slot="end"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>