<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forget Ten</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="animated fadeIn header-img" src="assets/images/login/login-four-header.png"></ion-img>
  <h2 class="header-text">Reset Password</h2>
  <div *ngFor="let item of Items" class="div-item">
    <ion-item class="animated fadeInRight item-input" lines="none">
      <ion-input placeholder="{{item.placeHolder}}" type="{{item.type}}" [(ngModel)]="item.bindingText"></ion-input>
    </ion-item>
  </div>
  <div class="div-login-btn">
    <ion-button class="btn-login">
      Reset Password
    </ion-button>
  </div>
</ion-content>