<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Badge With Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of items">
    <img src="{{item.image}}" />
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.para}}
    </ion-card-content>
    <ion-list>
      <ion-item lines="full">
        <ion-icon slot="start" name="musical-notes"></ion-icon>
        <ion-label>Albums</ion-label>
        <!-- badge with right position with different badge values -->
        <ion-badge slot="end">{{item.albums}}</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name='logo-twitter'></ion-icon>
        <ion-label>Follwers</ion-label>
        <!-- badge with right position with different badge values -->
        <ion-badge slot="end">{{item.followers}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>