<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forget Password Six</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forget-content">
  <div style='filter:var(--my-var)'>
    <ion-card class="header-card">
      <div class="header-content">
        <ion-avatar class="animated fadeIn">
          <div>
            <ion-icon src="assets/iconIShoe/m-text.svg"></ion-icon>
          </div>
        </ion-avatar>
        <h2>Reset Your Password</h2>
      </div>
    </ion-card>
    <ion-item class="animated fadeInRight item" lines="none">
      <ion-input placeholder="Enter Your Email" type="email"></ion-input>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <div class="btn-div" style='filter:var(--my-var)'>
    <ion-button class="animated fadeIn" shape="round">
      <p>Reset Password</p>
    </ion-button>
  </div>
</ion-footer>