<ion-header>
  <ion-toolbar class="toolbarTag">
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Grid Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <!-- single row contain 2 columns of equal lenght due to size=6  -->
    <ion-row class="ion-no-padding">
      <ion-col *ngFor="let item of items" size="6" class="ion-no-padding">
        <ion-button (click)="goToSubCategory()" fill="clear" class="ion-no-padding">
          <img src="{{item.img}}" alt="Image not loading">
          <div class="overlay-text" class="ion-no-padding">
            <h4>{{item.name}}</h4>
            <p>{{item.details}}</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>