<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Forget Password One</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-text>
        <h2>Forget Password</h2>
    </ion-text>
    <!-- form with input text and submit button -->
    <form>
        <ion-icon [ngStyle]="{color:itemColor}" name="logo-ionic"></ion-icon>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="outline" type="submit">Login</ion-button>
    </form>
  </ion-content>