<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Two Column Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <img src="assets/images/all-types.jpg">
  <ion-fab vertical="center" horizontal="end">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid class="ion-no-padding">
    <!-- single row contain 2 columns of equal lenght due to size=6  -->
    <ion-row class="ion-no-padding">
      <ion-col *ngFor="let item of items" size="6"class="ion-no-padding">
        <ion-card class="ion-no-padding">
          <img src="{{item.img}}" alt="Image not loading" />
          <ion-text>
            <p>
              <b>{{item.text}}</b>
            </p>
          </ion-text>
          <ion-row class="ion-align-items-center">
            <ion-col size="6"class="ion-no-padding">
              <ion-text>
                <p>$ {{item.price}}</p>
              </ion-text>
            </ion-col>
            <ion-col class="col-btn" size="6">
              <ion-button>Buy</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>