<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Search Two</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!-- for searchbar  -->
    <ion-searchbar></ion-searchbar>
    <ion-segment scrollable>
        <ion-segment-button checked *ngFor="let p of items">
            <ion-avatar>
                <img src="{{p.img}}">
            </ion-avatar>
            <p>{{p.text}}</p>
        </ion-segment-button>
    </ion-segment>
    <ion-grid no-padding>
        <ion-row>
            <ion-col no-padding size="6">
                <ion-img src="assets/images/Pictures/gallery-images/gallery_image1.png"></ion-img>
                <ion-img src="assets/images/Pictures/gallery-images/gallery_image2.png"></ion-img>
            </ion-col>
            <ion-col no-padding size="6">
                <ion-img src="assets/images/Pictures/gallery-images/gallery_image3.png"></ion-img>
                <ion-img src="assets/images/Pictures/gallery-images/gallery_image4.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row no-padding *ngFor="let a of [1,2,3,4,5]">
            <ion-col no-padding *ngFor="let p of images" size="4">
                <img src="{{p.img}}">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>