ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            width: 134%;
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    ion-item{
        ion-avatar{
            height: 50px;
            width: 50px;
        }
        ion-label{
            padding-bottom: 0;
            padding-top: 0;
            h2{
                color: black;
                font-size: 20px;
                font-family: 'roboto-medium' !important;
            }
            p{
                font-size: 12px;
                font-family: 'roboto-medium' !important;
            }
        }
    }
}