<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title no-padding class="ecom-title">{{'Select Language'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux">
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let v of languageList" class="content-bg-becrux">
        <ion-img src="{{v.image}}" slot="start"></ion-img>
        <ion-label>{{v.name}}</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<!-- <ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button size="small" routerLink="/bb-advance-options" routerDirection="forward">
      <ion-icon src="assets/custom-icon-tc-shop/gear.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer> -->