ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    ion-card{
        margin-top: 441px;
        background: transparent;
        ion-card-content{
            ion-item{
                --inner-padding-end: 0;
                ion-avatar{
                    background: #eee !important;
                    ion-icon{
                        width: 100%;
                        margin-top: 8px;
                        // color: black;
                        zoom:1.3;
                    }               
                }
                ion-label{
                    p{
                        white-space: normal;
                        font-size: 14px;
                        font-family: 'roboto-regular';
                    }
                }
                &:last-child{
                    ion-button{
                        // --background: black;
                        width: 100%;
                        text-transform: capitalize;
                        --color: white;
                    }
                }
            }
            
        }
    }
    form{
        padding-left: 16px;
        padding-right: 16px;
    }
}

.contact_us_inner
{
    
    background: #252525;
    padding:16px 13px;
    font-family: DM Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0.15px !important;
    color: #FFFFFF;
    
}

.contact_logo
{

    float: left;
    margin-top: 15px;
}

.contact_items_list
{
    
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type:none
}
.contact_items_list li
{
    margin-bottom: 5px;
}
.contact_items_list li:first-child
{

    font-weight: bold !important;
    color: #FFE500 !important;
}
.contact_items_list ion-icon
{
    margin-right: 6px;
}