<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>


<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux">
  <ion-list class="list-avatar">
    <img class="bing-img" src="{{banner}}">
    <ion-item class="ion-no-padding ion-text-center content-bg-becrux">
      <ion-label>
        <ion-avatar>
          <img src="{{gravatar}}">
        </ion-avatar>
        <h2>{{name}}</h2>
        <p class="icon">
          <ion-icon name="star-outline"></ion-icon>&nbsp;&nbsp;{{rating}}
        </p>
        <p>{{email}}</p>
        <ion-button color="light">
          {{'Contact Us' | translate }}
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col *ngFor="let p of products" size="12" no-padding>
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll #infinite>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button size="small" routerLink="/bb-pages-layout" routerDirection="forward">
        <ion-icon src="assets/custom-icon-tc-shop/gear.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>