ion-content{
    ion-card{
        margin: 0;
            ion-item:last-child{
            --border-width: 0 0 0 0;
        }
        ion-card-header{
            padding-bottom: 0;
            background: transparent;
        }
    }
}