ion-content {
  ion-img {
    width: 100%;
  }
  .div-card-avatar {
    position: absolute;
    width: 100%;
    top: 54.5vw;
    .card-avatar {
      box-shadow: 2px 2px 35px 10px #eee;
      border-radius: 20px;
      margin-left: 60px;
      margin-right: 60px;
      background: white;
      p {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: black;
      }
      .para-name {
        font-size: 16px;
        font-family: "lato-bold";
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .para-designation {
        font-size: 10px;
        font-family: "lato-regular";
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
  .text-header-person {
    font-size: 16px;
    font-family: "lato-bold";
    margin-left: 16px;
    margin-top: 46px;
    margin-bottom: 0;
  }
  ion-grid {
    padding-left: 11px;
    padding-right: 11px;
    ion-row {
      .col-person {
        ion-card {
          background: #e8e8e8;
          border-radius: 10px;
          box-shadow: none;
          margin: 0;
          ion-item {
            --background: transparent;
            p {
              font-size: 10px;
              font-family: "lato-regular";
              color: #707070;
            }
            ion-icon {
              font-size: 19px;
              margin-right: 16px;
            }
          }
        }
      }
      .col-dob-to-ms {
        ion-item {
          --background: transparent;
          --padding-start: 0;
          max-height: 50px;
          ion-icon {
            font-size: 19px;
            color: black;
            margin-right: 10px;
          }
          ion-label {
            p {
              color: #707070;
            }
            .para-name-heading {
              font-size: 12px;
              font-family: "lato-bold";
              margin-bottom: 0;
            }
            .para-name {
              margin-top: 0;
              font-size: 10px;
              font-family: "lato-regular";
            }
          }
        }
      }
    }
  }
  .text-header-contact {
    font-size: 16px;
    font-family: "lato-bold";
    margin-left: 16px;
    margin-top: 20px;
  }
  .list-input {
    padding: 0;
    ion-item {
      --padding-start: 10px;
      --border-radius: 10px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 10px;
      ion-input {
        --placeholder-font-style: "lato-regular";
        font-size: 10px;
      }
      ion-icon {
        font-size: 19px;
      }
    }
  }
  .text-header-info {
    font-size: 16px;
    font-family: "lato-bold";
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .grid-lang-interest {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
ion-footer {
  ion-button {
    width: 100%;
    --background: black;
    --color: white;
    height: 54px;
    font-family: "lato-regular";
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
  }
  &::before {
    height: 0;
    top: 0;
  }
}
