@font-face {
  font-family: "roboto-medium";
  src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "roboto-regular";
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "roboto-light";
  src: url("../assets/fonts/roboto/Roboto-Light.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "roboto-thin";
  src: url("../assets/fonts/roboto/Roboto-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "great-vibes";
  src: url("../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "lato-bold";
  src: url("../assets/fonts/lato/Lato-Bold.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "lato-regular";
  src: url("../assets/fonts/lato/Lato-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "century";
  src: url("../assets/fonts/century/CENSCBK.TTF");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'aldhabi';
  src: url('../assets/fonts/aldhabi.ttf');
  font-weight: 200;
  font-style: normal;
};
@font-face {
  font-family: 'segoe-ui';
  src: url('../assets/fonts/segoi-uI/segoeui.ttf');
  font-weight: 200;
  font-style: normal;
};
@font-face {
  font-family: 'ubuntu';
  src: url('../assets/fonts/ubuntu.medium.ttf');
  font-weight: 200;
  font-style: normal;
};
@font-face {
  font-family: "arial-rounded";
  src: url("../assets/fonts/arial-rounded.ttf");
  font-weight: 200;
  font-style: normal;
};
// @font-face {
// font-family: 'Agency-Fb';
// src: url('../assets/fonts/agencyfb.ttf');
// font-weight: 200;
// font-style: normal;
// };
