<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/scripts" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Push Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card (click)="getToken()">
    <img src="assets/images/plugin-images/Push-notifications/fcm.jpg" />
  </ion-card>
  <ion-card>
    <img src="assets/images/plugin-images/Push-notifications/onesignal.png" />
  </ion-card>
  <!-- <ion-card>
    <img src="assets/images/plugin-images/Push-notifications/pusher.png" />
  </ion-card> -->
</ion-content>