<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon src="assets/CustomIcons/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title no-padding>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content-forgot content-bg-becrux">
  <form>
    <ion-item class='item-input-has-focus content-bg-becrux'>
      <ion-label class='label-md' position="floating">Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>

    <ion-button (click)="ResetPassword()" shape="round"> Reset Password </ion-button>

  </form>
</ion-content>
