ion-content {
    .top-img {
      width: 50%;
    }
    .mid-img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      font-family: "Arial";
      font-weight: bold;
      font-size: 41px;
      text-align: center;
      margin-bottom: 3px;
      color: #403b98;
    }
    p {
      margin-top: 0;
      font-size: 21px;
      font-family: "lato-regular";
      text-align: center;
    }
    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      .down-img {
        width: 50%;
        margin-left: auto;
      }
    }
  }
  