<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Thankyou Four</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="top-img" src="assets/images/thankyou/thankyou-one-top.png"></ion-img>
  <ion-img class="mid-img" src="assets/images/thankyou/thankyou-one-middle.png"></ion-img>
  <h1>THANK YOU!</h1>
  <p>For Choosing Us</p>
  <div>
  <ion-img class="down-img" src="assets/images/thankyou/thankyou-one-bottom.png"></ion-img>
</div>
</ion-content>