ion-header{
    ion-toolbar{
        --background:black;
        --color:white;
        ion-icon{
            font-size: 18px;
        }
        ion-title{
            width: 134%;
            h1{
                text-align: center;
            }
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    ion-row{
        padding-left: 1px;
        padding-right: 1px;
        background: white;
        box-shadow: 0 0 0 2px lightgrey;
        ion-col{
            ion-card{
                margin: 0;
                border-radius: 0;
                box-shadow: #eee;
                box-shadow: 0.1px 0.1px 0 0 #bbb;
                background: transparent;
                ion-thumbnail{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                    width: 30%;
                    height: 90px;
                }
                h6{
                    
                    text-align: center;
                    margin-bottom: 0;
                    color: black;
                    font-size: 20px;
                    font-family: 'roboto-medium' !important;
                    
                }
                p{
                    text-align: center;
                    margin-top: 0;
                    font-size: 12px;
                    font-family: 'roboto-medium' !important;
                }
            }
        }
    }
    ion-button{
        width: 100%;
    }
}