<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon src="assets/CustomIcons/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content-bg-becrux">
  <h1>
    Product Details
  </h1>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding item-row">
      <ion-col class="ion-no-padding ion-text-left item-para" size="6">
        Order id: 123-456-789
      </ion-col>
      <ion-col class="ion-no-padding ion-text-right item-para" size="6">
        2 Items
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding row-product" *ngFor="let p of items">
      <ion-col size="4" class="ion-no-padding">
        <ion-img src="{{p.image}}"></ion-img>
      </ion-col>
      <ion-col class="detail-col" size="8">
        <p class="product-name">
          {{p.title}}
        </p>
        <div class="div-sizes">
          <div class="div-size-filled">
            <p>{{p.size}}</p>
          </div>
          <ion-radio color="{{p.color}}" class="radio-filled" checked></ion-radio>
        </div>
        <!-- <div id="color"></div> -->
        <ion-row class="ion-no-padding row-btns">
          <ion-col class=" col-minus" size="4" text-left>
            <p class="qty-para"> Qty: {{p.qty}}</p>
          </ion-col>
          <ion-col size="8" class="ion-text-right ion-align-self-end">
            <p class="price">
              <b class="total-bold">Total= </b> {{p.price}}
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-sub-total ion-no-padding">
    <h1>
      Sub Total
    </h1>
    <ion-row>
      <ion-col size="6">
        Discount
      </ion-col>
      <ion-col class="item-right" text-right size="6">
        0%
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        Delivery
      </ion-col>
      <ion-col class="item-right" text-right size="6">
        Free
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="t-price" size="6">
        <b>Total Price</b>
      </ion-col>
      <ion-col class="item-right" text-right size="6">
        <b>$ 130</b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="border">

  </div>

  <ion-grid class="ion-no-padding">
    <h1>
      Shipping Details
    </h1>
    <ion-row class="shipping-row">
      <ion-col size="6">
        Shipping Address
      </ion-col>
      <ion-col text-right col-6>
        House # 2, Street 2, ABC
      </ion-col>
    </ion-row>
    <ion-row class="shipping-row">
      <ion-col size="6">
        Shipping Method
      </ion-col>
      <ion-col text-right size="6">
        Cash on Delivery
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>