ion-content{
    ion-card{
        background: transparent;
        margin:0;
        ion-row{
            ion-col{
                text-align: start;
            }
            ion-col:last-child{
                text-align: center;
            }
            ion-col:first-child{
                text-align: end;
            }
        }
    }
}