<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title"> Thankyou One</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
    <ion-card-content>
      <ion-icon name="checkmark-circle"></ion-icon>
      <h3>Thank You</h3>
      <p>Thank you for shopping with us.</p>
      <ion-button class="order-btn" expand="block">My Orders</ion-button>
      <ion-button class="con-btn" expand="block" fill="clear">Continue Shopping</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>