ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            width: 134%;
            h1{
                text-align: center;
            }
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    p{
        font-size: 12px;
    }
    ion-item-divider{
        --background: #e1e1e1;
        ion-avatar{
            margin-right: 16px;
        }
        ion-label{
            padding-bottom: 0;
            padding-top: 0;
            margin-top: 5px;
            margin-bottom: 6px;
            h2{
                font-size: 20px;
                color: black;
            }
        }
    }
    ion-item{
        ion-label{
            padding-bottom: 0;
            padding-top: 0;
            h2{
                font-family: 18px;
            }
            p{
                font-family: 12px;
            }
        }
    }
}