<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register Eleven</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-header">
    <h1>Login</h1>
    <h1>Signup</h1>
  </div>
  <div *ngFor="let item of Items; let i=index" class="div-item">
    <ion-item class="animated fadeInRight item-input" lines="none">
      <ion-input placeholder="{{item.placeHolder}}" type="{{item.type}}" [(ngModel)]="item.bindingText"></ion-input>
      <ion-icon (click)="showPass(i)" src={{item.icon}}></ion-icon>
    </ion-item>
  </div>
  <ion-button shape="round" class="btn-login">
    <p>
      <ion-icon src="assets/CustomIcons/login-five-arrow-right.svg"></ion-icon>
    </p>
  </ion-button>
  <p class="login-text">Or Sign Up With</p>
  <ion-grid class="grid-icons">
    <ion-row>
      <ion-col>
        <ion-avatar class="animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-five-twitter.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col size="3">
        <ion-avatar class="avatar-center animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-five-facebook.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-avatar class="animated fadeIn">
          <ion-icon src="assets/CustomIcons/login-five-google.svg"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>