ion-header{
    ion-toolbar{
        ion-buttons{
            ion-button{
                ion-icon{
                    font-size: 16px;
                }
            }
        }
        ion-title{
            color: white;
            text-align: center;
            padding-right: 48px;
        }
    }
}

ion-content{
    form{
        text-align: center;
        ion-item{
            padding-top: 16px;
            --background: #fafafa !important;
            ion-label{
                font-family: 'roboto-regular';
                font-size: 14px;
                margin-top: 10px;
            }
            &:first-child{
                padding-top: 0px;
            }
            p{
                    white-space: normal !important;
                    font-size:12px !important;
                    font-family: 'roboto-regular';
            }
            ion-input{
                --padding-top: 0;
                font-size: 12px;
                margin-top: 8px;
                font-family: 'roboto-regular';
            }
            ion-checkbox{
                margin-right: 11px;
                --background: #fafafa;
            }
        }
        .item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-placeholder.label-floating.sc-ion-label-md-h, .item-has-placeholder .label-floating.sc-ion-label-md-h, .item-has-value.label-floating.sc-ion-label-md-h, .item-has-value .label-floating.sc-ion-label-md-h{
            color:var(ion-color-primary);
            font-size:18px !important;
        }
        ion-button{
            --color: #ffffff;
            text-transform: capitalize;
            font-family: "roboto-light";
            height: 38px;
            width: 134px;
            color: #FFFFFF;
            font-family: 'roboto-medium';
            margin-top: 23px;
            ion-icon{
                zoom: 0.8;
                padding-left: 5px;
            }
        }
    }
}
