.content {
  img{
    width: 100%;
  }
  .icon-img {
    margin: 20px 140px 30px 140px;
  }
  .div-img-header {
    margin-left: 65px;
    margin-right: 65px;
    .img-header {
      border-radius: 21px;
    }
  }
  h2 {
    font-size: 18px;
    text-align: center;
    font-family: "Arial";
    color: #03b484;
    font-weight: bold;
  }
  p {
    margin-top: 20px;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    color: black;
    font-family: "lato";
  }
  .grid-contact-us {
    .grid-contact-details {
      ion-col {
        ion-item {
          ion-icon {
            font-size: 12px;
            color: black;
            margin-right: 10px;
          }
          .pin-icon {
            font-size: 18px !important;
          }
          p {
            font-size: 12px;
            font-family: "Arial";
          }
        }
      }
    }
    .card-img {
      border-radius: 20px;
      margin-right: 27px;
      margin-top: 0;
      ion-img {
        margin-left: -10px;
        width: 130%;
      }
    }
  }
}
