ion-header {
  ion-toolbar {
    .div {
      display: inline-flex;
      width: 75%;
    }
    .div-two{
      display: inline-flex;
    }
    ion-icon {
      font-size: 16px;
      color: white;
    }
    ion-title {
      color: white;
      text-align: center;
      margin-left: 10%;
      ion-icon {
        position: absolute;
        margin-left: 5px;
        font-size: 26px;
      }
    }
  }
}
ion-content {
  .grid-card{
    background: transparent;
  }
  text-align: center;
  ion-grid {
    ion-row {
      ion-col {
        ion-card {
          background: transparent;
          margin: 20px 15px 0 15px;
          height: auto;
          box-shadow: none;
          border: solid 1px lightgray;
          overflow: inherit !important;
          ion-img {
            width: auto !important;
          }
          ion-icon {
            z-index: 1;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
          }
          .heart-filled {
            color: var(--ion-color-primary);
          }

          h3 {
            font-size: 16px;
            font-family: "roboto-light";
            margin-left: 16px;
            text-align: left;
          }
          p {
            font-family: "roboto-medium";
            font-size: 14px;
            margin-left: 16px;
            text-align: left;
            margin-bottom: 0;
          }
          div {
            text-align: end;
            ion-button {
              --border-radius: 0 !important;
              text-transform: capitalize !important;
              font-size: 14px !important;
              font-family: "roboto-regular" !important;
              width: 28%;
              height: 40px;
              margin-top: 0;
              --color: #ffffff !important;
              margin-bottom: 0;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  .div-img {
    margin-top: 50%;
    width: 100%;
    text-align: center;
    ion-img {
      width: 23%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  ion-text {
    text-align: center;
    h1 {
      font-family: "roboto-light";
      font-size: 27px;
      font-weight: bold;
    }
    p {
      font-family: "roboto-regular";
      font-size: 12px;
    }
  }
  ion-button {
    --color: #ffffff !important;
    border-radius: 50px;
    font-family: "roboto-medium";
    height: 50px;
    --border-radius: 25px;
    text-transform: capitalize;
    font-size: 14px;
  }
  .square-btn {
    --border-radius: 0 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-family: "roboto-regular" !important;
    width: 25%;
    height: 40px;
    margin-top: 10px;
    --color: #ffffff !important;
  }
}
.icon {
  font-size: 22px !important;
  color: white !important;
  margin-top: -5px !important;
}
.badge {
  height: 50px !important;
  position: absolute;
  top: -2px;
  z-index: 111;
  left: -1px;
}
.sale-featured {
  position: absolute !important;
  right: 0;
  color: white;
  z-index: 1 !important;
  top: 35px;
  font-family: "roboto-regular";
  .sale {
    background: var(--ion-color-primary);
    text-align: center !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    width: 34.12px;
    height: 14.88px;
    font-size: 9px;
  }
  .featured {
    background: var(--ion-color-primary);
    text-align: center !important;
    padding: 3px 5px 13px 5px;
    margin-top: 5px;
    width: 45.38px;
    height: 15.57px;
    font-size: 9px;
  }
}
.checkbox-col {
  ion-checkbox {
    --checkmark-color: white;
    margin-top: auto;
    margin-bottom: auto;
    --background: #fafafa;
    height: 16px;
    width: 16px;
  }
}
.grid-card-small {
  background: transparent;
  margin-right: 28px !important;
}
.icon-rem {
  font-size: 22px !important;
}
.div-center {
  margin-top: 35px;
}
