<ion-content (pinch)="pinchEvent($event)" class="image-content content-bg-becrux">
  <ion-slides pager="true" class="ion-no-padding">
    <ion-slide *ngFor="let slide of slides" class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="{{slide.image}}"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-item class="item-header-slide content-bg-becrux" lines="none">
    <ion-button fill="clear" slot=start routerLink="/lb-product-detail" routerDirection="forward">
      <ion-icon src="assets/custom-icons/back.svg"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot=end routerLink="/lb-search" routerDirection="forward">
      <ion-icon class="search_icon" name="search"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot=end (click)="goToCart()">
      <ion-icon src="assets/CustomIcons/Bag.svg"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>