<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Forget Seven</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <div class="div-avatar-bg">

  </div>
  <div class="div-avatar">
    <ion-avatar>
      <img src="assets/images/login/uiux-icon.png" />
    </ion-avatar>
  </div>
  <div *ngFor="let item of Items" class="div-item">
    <ion-item class="animated fadeInRight item-input" lines="none">
      <ion-icon slot="start" src="{{item.icon}}"></ion-icon>
      <ion-input placeholder="{{item.placeHolder}}" type="{{item.type}}" [(ngModel)]="item.bindingText"></ion-input>
    </ion-item>
  </div>
  <div class="div-login-btn"></div>
  <div class="div-btn-reset">
    <ion-button class="btn-login">
      Reset Password
    </ion-button>
  </div>
</ion-content>