<ion-header>
  <ion-toolbar>
    <ion-title class="ecom-title">
      <h1>Categories</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux" (pinch)="pinchEvent($event)">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col *ngFor="let product of categories" size="6" no-padding>
        <ion-card routerLink="/bb-products" routerDirection="forward" class="animated flipInX delay-900ms">
          <ion-thumbnail>
            <img src="{{product.img}}" />
          </ion-thumbnail>
          <ion-text>
            <h6>{{product.name|translate}}</h6>
            <p>{{product.count}} {{'Products'| translate }}</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button size="small" routerLink="/bb-advance-options" routerDirection="forward">
        <ion-icon src="assets/custom-icon-tc-shop/gear.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>