<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Button Full Expand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="assets/images/icons_stripe.svg"></ion-img>
  <form>
    <ion-item>
      <ion-input type="text" placeholder="Email or Username" name="email" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" name="password" required>
      </ion-input>
    </ion-item>
  </form>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" type="submit">Login</ion-button>
    </ion-col>
    <ion-col size="12">
      <!-- expanded buton -->
      <ion-button expand="block" fill="clear">
        <b>I've Forgotten My Password?</b>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <!-- expanded buton -->
      <ion-button expand="block" type="submit">Login with
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <!-- expanded buton -->
      <ion-button expand="block" color="danger" type="submit">Login with
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <!-- expanded buton -->
      <ion-button fill="outline" expand="block" type="submit">Register</ion-button>
    </ion-col>
  </ion-row>
</ion-content>