ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            text-align: center;
            margin-left: 46px;
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    .swiper-slide {
        width: 40%;
      }
    ion-list{
        padding-top: 0;
        background: #fafafa;
        ion-card{
            height: 225px;
            ion-img{
                filter: brightness(0.6);
            }
            ion-text{
                position: absolute;
                top: 32%;
                text-align: center;
                width: 100%;
                color: white;
                font-weight: bold;
                height: 250px;
                h2{
                    margin-top: 14px;
                    margin-bottom: 5px;
                    font-size: 32px;
                    font-family: 'roboto-medium' !important;
                }
                p{
                    font-size: 20px;
                    margin-top: 0;
                    font-weight: 400 !important;
                    font-family: 'roboto-light' !important;
                }
            }
        }
    }
}