<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Verification Ten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-img class="img-header" src="assets/images/verification/verification-9-header.png">
  </ion-img>
  <h2>Verification</h2>
  <p class="enter-para">Enter a 4 digit number that
    was sent to + (1) 123-456-789</p>
  <ion-card class="card-input">
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="2">
          <ion-input type="numeric"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="numeric"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="numeric"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="numeric"></ion-input>
        </ion-col>
        <ion-col size="2" class="ion-align-self-center col-icon">
          <ion-icon src="assets/custom-icon-tc-shop/icon.svg">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="div-verifty-btn">
      <ion-button shape="round" fill="clear">
        Verify
      </ion-button>
    </div>
  </ion-card>
  <p class="para-code-resend">Resend code in 0:59 </p>
</ion-content>