<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" routerLink="/ls-home" routerDirection="forward">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ecom-title">Refund Policy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content (pinch)="pinchEvent($event)" class="content content-bg-becrux">
    <ion-text>
        <p>
            it usually includes fthe following pieces of information
        </p>
    </ion-text>
</ion-content>