ion-content{
    ion-icon{
        zoom:4;
        width: 100%;
    }
    ion-button{
        margin-top: 10px;
        &:last-child{
            --color:#3b5998;
            --border-color:#3b5998;
        }
    }
}