<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home Nine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <app-banner></app-banner>

  <!-- categories swipe slider -->
  <ion-item lines="none">
      <ion-icon slot="start" src="assets/custom-icon-tc-shop/category.svg"></ion-icon>
      <ion-label>
          <p>{{'Categories' | translate }}</p>
      </ion-label>
      <ion-button slot="end" routerLink="/bs-products" routerDirection="forward" fill="clear" > Shop More
          <ion-icon name="play" class="icon-shop-more icon-shop"></ion-icon>
      </ion-button>
  </ion-item>

  <!-- categories component -->
  <app-categories [type]="'grid'"></app-categories>

  <!-- For Products -->
  <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="topSeller">{{ 'Newest' | translate }}</ion-segment-button>
      <ion-segment-button value="deals">{{ 'On Sale' | translate }} </ion-segment-button>
      <ion-segment-button value="mostLiked"> {{ 'Featured' | translate }}</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segments">

      <!-- first swipe slider -->
      <ion-slides *ngSwitchCase="'topSeller'" class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
          <ion-slide *ngFor="let p of tab1">
              <app-product [data]="p" [type]="'normal'"></app-product>
          </ion-slide>
          <ion-slide>
              <ion-button routerLink="/bs-products" routerDirection="forward" fill="clear" > {{'Shop More'| translate}}
                  <ion-icon name="play" class="icon-shop-more"></ion-icon>
              </ion-button>
          </ion-slide>
      </ion-slides>

      <!-- 2nd swipe slider -->
      <ion-slides *ngSwitchCase="'deals'" class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
          <ion-slide *ngFor="let p of tab1">
              <app-product [data]="p" [type]="'normal'"></app-product>
          </ion-slide>
          <ion-slide>
              <ion-button routerLink="/bs-products" routerDirection="forward" fill="clear" > {{'Shop More'| translate}}
                  <ion-icon name="play" class="icon-shop-more"></ion-icon>
              </ion-button>
          </ion-slide>
      </ion-slides>

      <!-- 3rd swipe slider -->
      <ion-slides *ngSwitchCase="'mostLiked'" class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
          <ion-slide *ngFor="let p of tab1">
              <app-product [data]="p" [type]="'normal'"></app-product>
          </ion-slide>
          <ion-slide>
              <ion-button routerLink="/bs-products" routerDirection="forward" fill="clear" > {{'Shop More'| translate}}
                  <ion-icon name="play" class="icon-shop-more"></ion-icon>
              </ion-button>
          </ion-slide>
      </ion-slides>
  </div>

  <!-- For Vendor List -->
  <app-vendor-list></app-vendor-list>

  <!-- All Products Header -->
  <ion-item lines="none">
      <ion-icon slot="start" src="assets/custom-icon-tc-shop/tabs.svg"></ion-icon>
      <ion-label>
          <p>{{'All Products' | translate }}</p>
      </ion-label>
      <ion-button routerLink="/bs-products" routerDirection="forward" slot="end" fill="clear" >Shop More
          <ion-icon name="play" class="icon-shop-more icon-shop"></ion-icon>
      </ion-button>
  </ion-item>
  <!-- scrolling products component -->
  <app-scrolling-featured-products [type]="'homeNine'"></app-scrolling-featured-products>

  <!-- For FAB Icon -->
  <ion-fab vertical="bottom" horizontal="end" *ngIf="scrollTopButton">
      <ion-fab-button  size="small"  (click)="scrollToTop()">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-fab-button>
  </ion-fab>

</ion-content>