<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Us Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <img class="img-header" src="assets/images/about-us/about-us-three-header.jpg" />
  <div class="div-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenean venenatis, urna quis ornare vehicula, libero eros
      ultricies dolor, quis porttitor dui leo nec odio.
      Vestibulum quam augue, efficitur eu lobortis vel,
      tempor eu nisi. Nullam ornare lacus vitae nunc ultrices,
      sit amet malesuada est elementum. Quisque tristique
      elit et finibus lobortis. Duis gravida, nisl ut sagittis </p>
  </div>
  <ion-grid class="grid-phone-email">
    <ion-row>
      <ion-col size="1.5"></ion-col>
      <ion-col size="3.75">
        <ion-card>
          <ion-icon src="assets/custom-icons/phone-about-us-three.svg"></ion-icon>
          <p>000-123-456-789</p>
        </ion-card>
      </ion-col>
      <ion-col size="1.5"></ion-col>
      <ion-col size="3.75">
        <ion-card>
          <ion-icon src="assets/custom-icons/mail-about-us-three.svg"></ion-icon>
          <p>000-123-456-789</p>
        </ion-card>
      </ion-col>
      <ion-col size="1.5"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-map">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2" class="col-icon">
        <ion-icon class="ion-self-align-center" src="assets/custom-icons/pin-about-us-three.svg">
        </ion-icon>
      </ion-col>
      <ion-col size="4">
        <p class="para ion-self-align-center">9440 Birchwood Drive
          Los Angeles, CA 90008</p>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-map-img">
    <img class="map-img" src="assets/images/about-us/map.png" />
  </div>
</ion-content>