<ion-header class="header-home">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      <p class="title-para-left">Material App</p>
      <p class="title-para-right">{{darkThemeText}}</p>
    </ion-title>
    <ion-toggle [(ngModel)]="darkTheme" (ionChange)="toggleChange(darkTheme)" slot="end"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding" >
    <ion-row class="materialAppRow">
      <ion-col class="materialAppThemeCol ion-no-padding" size="12">
        <ion-item style='--background:var(--my-var)' class="segment ion-no-padding">
          <ion-segment scrollable>
            <ion-segment-button class="segmentTextBtn">
              <ion-row>
                <ion-col size="6">
                  <p class="materialAppPara">
                    <b>App Themes </b>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <ion-icon class="forward-icon" name="arrow-forward"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-segment-button>
            <ion-segment-button class="lightOrangeSegmentBtn">
              <ion-button *ngIf="!visiableBtnAutum" (click)="changeTheme('autumn')" class="lightOrangeBtn"></ion-button>
              <ion-button *ngIf="visiableBtnAutum" (click)="changeTheme('autumn')" class="lightOrangeBtn">
                <ion-icon class="checkmark-icon" name="checkmark" size="large"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="darkBlueSegmentBtn">
              <ion-button *ngIf="!visiableBtnNight" (click)="changeTheme('night')" class="darkBlueBtn"></ion-button>
              <ion-button *ngIf="visiableBtnNight" (click)="changeTheme('night')" class="darkBlueBtn">
                <ion-icon class="checkmark-icon" name="checkmark" size="large"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightPurpleSegmentBtn">
              <ion-button *ngIf="!visiableBtnNeon" (click)="changeTheme('neon')" class="lightPurpleBtn"></ion-button>
              <ion-button *ngIf="visiableBtnNeon" (click)="changeTheme('neon')" class="lightPurpleBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="darkPinkSegmentBtn">
              <ion-button *ngIf="!visiableBtnOriginal" (click)="changeTheme('orginal')" class="darkPinkBtn">
              </ion-button>
              <ion-button *ngIf="visiableBtnOriginal" (click)="changeTheme('orginal')" class="darkPinkBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="redSegmentBtn">
              <ion-button *ngIf="!visiableBtnRed" (click)="changeTheme('red')" class="redBtn"></ion-button>
              <ion-button *ngIf="visiableBtnRed" (click)="changeTheme('red')" class="redBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="purpleSegmentBtn">
              <ion-button *ngIf="!visiableBtnPurple" (click)="changeTheme('purple')" class="purpleBtn"></ion-button>
              <ion-button *ngIf="visiableBtnPurple" (click)="changeTheme('purple')" class="purpleBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightBlueSegmentBtn">
              <ion-button *ngIf="!visiableBtnLightblue" (click)="changeTheme('Lightblue')" class="lightBlueBtn">
              </ion-button>
              <ion-button *ngIf="visiableBtnLightblue" (click)="changeTheme('Lightblue')" class="lightBlueBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightGreenSegmentBtn">
              <ion-button *ngIf="!visiableBtnLightgreen" (click)="changeTheme('Lightgreen')" class="lightGreenBtn">
              </ion-button>
              <ion-button *ngIf="visiableBtnLightgreen" (click)="changeTheme('Lightgreen')" class="lightGreenBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightGray1SegmentBtn">
              <ion-button *ngIf="!visiableBtnLightgray" (click)="changeTheme('Lightgray')" class="lightGray1">
              </ion-button>
              <ion-button *ngIf="visiableBtnLightgray" (click)="changeTheme('Lightgray')" class="lightGray1">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="blueSegmentBtn">
              <ion-button *ngIf="!visiableBtnBlue" (click)="changeTheme('blue')" class="blueBtn"></ion-button>
              <ion-button *ngIf="visiableBtnBlue" (click)="changeTheme('blue')" class="blueBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- banners -->
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-item style='--background:var(--my-var)' class="itemSlider">
          <ion-button type="submit" fill="clear" color="light" class="swiper-button-prev swiper-button-white prevBtn"
            (click)="prevSlide()"></ion-button>
          <ion-slides pager="true" class="slides" #IonSlides loop="true">
            <ion-slide *ngFor="let slide of slides; let i=index" class="slide ion-no-padding">
              <div class="sliderImg">
                <img src="{{slide.image}}" alt="Slide Images" class="img">
              </div>
            </ion-slide>
          </ion-slides>
          <ion-button type="submit" fill="clear" color="light" class="swiper-button-next swiper-button-white nextBtn"
            (click)="nextSlide()"></ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="tagRow ion-padding">
      <ion-col class="tagCol ion-no-padding" size="12">
        <ion-row class="rowtag ion-no-padding" justify-content-center>
          <ion-col class="col1Tag ion-no-padding" size="4">
            <ion-card class="tagCard">
              <img class="imgBgTag" src="assets/images/logos/angular-logo.png" />
              <p class="paraTagCard">ANGULAR</p>
            </ion-card>
          </ion-col>
          <ion-col class="col2Tag ion-no-padding" size="4">
            <ion-card class="tagCard">
              <img class="imgBgTag" src="assets/images/logos/ionic-logo.png" />
              <p class="paraTagCard">IONIC</p>
            </ion-card>
          </ion-col>
          <ion-col class="col3Tag ion-no-padding" size="4">
            <ion-card class="tagCard">
              <img class="imgBgTag" src="assets/images/logos/cordova-logo.png" />
              <p class="paraTagCard">CORDOVA</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="rowComp ion-padding">
      <ion-col class="colComp ion-no-padding" size="12">
        <ion-card class="card ion-no-padding" routerLink="/component-details" routerDirection="forward">
          <img class="imgBg" src="assets/images/ui_components_bg.jpg" />
          <div [ngStyle]="{'background':itemColor}" class="themeBg ion-no-padding">
          </div>
          <div class="card-title">
            <img src="assets/images/home-content-images/comp.png">
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <ion-card class="card ion-no-padding" routerLink="/multipurpose-screens-details" routerDirection="forward">
          <img class="imgBg" src="assets/images/multi-screens.png" />
          <div [ngStyle]="{'background':itemColor}" class="themeBg ion-no-padding">
          </div>
          <div class="card-title">
            <img src="assets/images/home-content-images/ui.png">
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <ion-card class="card ion-no-padding" routerLink="/ui-templates-details" routerDirection="forward">
          <img class="imgBg" src="assets/images/ui_templates_bg.jpg" />
          <div [ngStyle]="{'background':itemColor}" class="themeBg ion-no-padding">
          </div>
          <div class="card-title">
            <img src="assets/images/home-content-images/theme.png">
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-no-padding" class="card" routerLink="/scripts" routerDirection="forward">
          <img class="imgBg" src="assets/images/plugins_bg.jpg" />
          <div [ngStyle]="{'background':itemColor}" class="themeBg ion-no-padding">
          </div>
          <div class="card-title">
            <img src="assets/images/home-content-images/plugins.png">
          </div>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
        <ion-card class="card ion-no-padding" routerLink="/mini-apps" routerDirection="forward">
          <img class="imgBg" src="assets/images/home-content-images/Mini-Apps.jpg" />
          <div [ngStyle]="{'background':itemColor}" class="themeBg ion-no-padding">
          </div>
          <div class="card-title">
            <img src="assets/images/home-content-images/Mini-Apps.png">
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>