<ion-header>
  <ion-toolbar class="toolbarTag">
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Three Column Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
    <!-- single row contain 3 columns of equal lenght due to size=4  -->
    <ion-row class="ion-no-padding">
      <ion-col *ngFor="let item of items" class="ion-no-padding" size="4">
        <img src="{{item.img}}" alt="Image not loading">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>