<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cards Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-icon name="person"></ion-icon>
        <ion-text>
          <h1>Welcome,
            <br> Mr. John Doe</h1>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="light">
          <ion-icon name="person"></ion-icon>
          <ion-text>
            <h2>Profile</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="danger">
          <ion-icon name="people"></ion-icon>
          <ion-text>
            <h2>Group</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="success">
          <ion-icon name="settings"></ion-icon>
          <ion-text>
            <h2>Settings</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="secondary">
          <ion-icon name="list"></ion-icon>
          <ion-text>
            <h2>Tasks</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="tertiary">
          <ion-icon name="add"></ion-icon>
          <ion-text>
            <h2>Add Task</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- simple card with icon and text -->
        <ion-card color="medium">
          <ion-icon name="calendar"></ion-icon>
          <ion-text>
            <h2>Date</h2>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>