<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/multipurpose-screens-details" routerDirection="backward">
        <ion-icon class="multi-purpose-toolbar-icon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Us One
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-about-us-one">
  <p class="team-para">Our Team</p>
  <ion-grid class="grid-person">
    <ion-row>
      <ion-col *ngFor="let item of items1" size="4" class="ion-no-padding">
        <ion-avatar>
          <img src="{{item.img}}" />
        </ion-avatar>
        <p class="name-para">{{item.name}}</p>
        <p class="des-para">{{item.designation}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="row-items2">
      <ion-col *ngFor="let item of items2" size="4" class="ion-no-padding">
        <ion-avatar>
          <img src="{{item.img}}" />
        </ion-avatar>
        <p class="name-para">{{item.name}}</p>
        <p class="des-para">{{item.designation}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="header-para">Our Vision</p>
  <p class="para-desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper nisl sit amet arcu lacinia
    tempor. In hac habitasse platea dictumst. Sed varius erat orci, ac fringilla tortor lobortis ac.
    Sed eleifend nisi nisl, ac vulputate nisi accumsan a. Integer quam neque, fermentum eget tellus non,
    tristique sodales turpis. Nam diam ante, luctus nec nisl ac, vestibulum ullamcorper dolor.
  </p>
  <p class="header-para">Our Mission</p>
  <p class="para-desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper nisl sit amet arcu lacinia
    tempor. In hac habitasse platea dictumst. Sed varius erat orci, ac fringilla tortor lobortis ac.
    Sed eleifend nisi nisl, ac vulputate nisi accumsan a. Integer quam neque, fermentum eget tellus non,
    tristique sodales turpis. Nam diam ante, luctus nec nisl ac, vestibulum ullamcorper dolor.
  </p>
  <p class="header-para">Contact Us</p>
  <ion-grid class="ion-no-padding grid-contact-us">
    <ion-row>
      <ion-col size="6">
        <ion-grid class="grid-contact-details">
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-icon src="assets/CustomIcons/about-us-call-answer.svg"></ion-icon>
                <p>000-123-456-789</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-icon src="assets/CustomIcons/about-us-envelope.svg"></ion-icon>
                <p>abc12@gmail.com</p>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-icon class="pin-icon" src="assets/CustomIcons/about-us-maps-and-flags.svg"></ion-icon>
                <p>9440 Birchwood Drive Los Angeles, CA 90008</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="6" class="ion-align-self-center">
        <ion-card class="card-img">
          <ion-img class="animated fadeIn" src="assets/images/about-us/map.png"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>